<script lang="ts" setup>
import { ref } from "vue";
import type {
    UploadInstance,
    UploadProps,
    UploadRawFile
} from "element-plus";
import Play from "./PlayCard.vue";

const uploadAudio = ref<UploadInstance>();
const uploadScript = ref<UploadInstance>();
const scriptContent = ref<string>("");
const audioURI = ref<string>("");

const parseScript = (scriptFile: UploadRawFile) => {
    //读取字幕文件
    var reader = new FileReader();
    reader.onload = () => {
        if (reader.result) {
            scriptContent.value = reader.result as string;
        } else {
            scriptContent.value = "";
        }
    };
    reader.readAsText(scriptFile);
};

const overwriteScript: UploadProps["onExceed"] = (files) => {
    uploadScript.value!.clearFiles();
    const file = files[0] as UploadRawFile;
    parseScript(file);
};

const onChangeScript: UploadProps["onChange"] = (file, uploadFiles) => {
    if (file.raw)
        parseScript(file.raw);
};

const loadAudio = (audioFile: UploadRawFile) => {
    //读取音频文件
    audioURI.value = URL.createObjectURL(audioFile);
};

const overwriteAudio: UploadProps["onExceed"] = (files) => {
    uploadAudio.value!.clearFiles();
    const file = files[0] as UploadRawFile;
    loadAudio(file);
};

const onChangeAudio: UploadProps["onChange"] = (file, uploadFiles) => {
    //读取音频文件
    if(file.raw)
        loadAudio(file.raw);
};
</script>

<template>
    <el-row>
        <el-col :push="4" :span="4">
            <el-upload
                ref="uploadAudio"
                class="upload-demo"
                action=""
                :on-change="onChangeAudio"
                :on-exceed="overwriteAudio"
                :auto-upload="false"
                :show-file-list="false"
                :limit="1"
            >
                <template #trigger
                    ><el-button type="primary" class="full-button">{{
                        $t("message.selectAudio")
                    }}</el-button></template
                >
            </el-upload>
        </el-col>
        <el-col :span="4" :push="10">
            <el-upload
                ref="uploadScript"
                class="upload-demo"
                action=""
                :on-change="onChangeScript"
                :on-exceed="overwriteScript"
                :auto-upload="false"
                :show-file-list="false"
                :limit="1"
            >
                <template #trigger
                    ><el-button type="primary">{{
                        $t("message.selectScript")
                    }}</el-button></template
                >
            </el-upload>
        </el-col>
    </el-row>
    <el-row>
        <el-col><Play :audio="audioURI" :content="scriptContent" /> </el-col>
    </el-row>
</template>

<style scoped>
.el-row {
    margin-bottom: 5px;
    width: 100%;
}
.full-button {
    width: 100%;
}
.item-hide {
    display: none;
}

.text {
    font-size: 14px;
}

.item {
    padding: 5px 0;
}

.box-card {
    margin: 5px;
    padding: 5px;
}
</style>
