<script lang="ts" setup>
import { ref, onMounted } from "vue";

import type {
    UploadInstance,
    UploadProps,
    UploadRawFile,
    ElScrollbar,
} from "element-plus";
import { Star, StarFilled, View, Hide } from "@element-plus/icons-vue";
import { default as srtParser2 } from "srt-parser-2";

const srtList = ref<Object[]>([]);
const fullList = ref<Object[]>([]);
const audio = ref<HTMLAudioElement>();
const audioURI = ref<String>("");
const currentIndex = ref<number>(-1);
const scrollHeight = ref<number>(400);
const scrollTopVal = ref<number>(0);
const playing = ref<boolean>(false);
const displaying = ref<boolean>(false);
const filtering = ref<boolean>(false);
const innerRef = ref<HTMLDivElement>();
const scrollbarRef = ref<InstanceType<typeof ElScrollbar>>();

const onPlay = () => {
    playing.value = true;
};

const onPause = () => {
    playing.value = false;
};

const scroll = ({ scrollTop }) => {
    scrollTopVal.value = scrollTop;
};

const moveIndex = (i: number) => {
    if (i != currentIndex.value) {
        currentIndex.value = i;
        setTimeout(autoScrollNext, 1000);
    }
};

const onError = () => {
    moveIndex(-1);
};

const onTimeupdate = (res) => {
    if (
        Number.isNaN(audio.value.duration) ||
        audioRef.value.duration <= 0.0 ||
        audioURI.value == "" ||
        srtList.value.length == 0 ||
        currentIndex.value >= srtList.value.length
    ) {
        return moveIndex(-1);
    }

    let curIndex = currentIndex.value;
    if (curIndex < 0) {
        if (playing) return jumpPlayTo(0);
    }

    let endSeconds = srtList.value[curIndex]["endSeconds"];
    if (endSeconds && endSeconds <= res.target.currentTime) {
        // 当前行播放结束
        let nextIndex = curIndex + 1;
        if (nextIndex < srtList.value.length) {
            // 检查是否需要跳跃播放
            let curOriginalIndex = srtList.value[curIndex]["originalIndex"];
            let nextOriginalIndex = srtList.value[nextIndex]["originalIndex"];
            if (curOriginalIndex + 1 < nextOriginalIndex) {
                console.log("Jump " + nextIndex);
                return jumpPlayTo(nextIndex);
            }
        } else {
            // 播放完毕
            audio.value.pause();
        }
        moveIndex(nextIndex);
    }
};

const mark = (i: number) => {
    if (i < srtList.value.length) {
        srtList.value[i]["marked"] = !srtList.value[i]["marked"];
    }
};

const jumpPlayTo = (i: number) => {
    if (i < srtList.value.length) {
        let startSeconds = srtList.value[i]["startSeconds"];
        moveIndex(i);
        audio.value.currentTime = startSeconds;
        audio.value.play();
    }
};

const readyToPlay = (startBySrt: boolean = true) => {
    if (Number.isNaN(audio.value.duration)) {
        return;
    }
    if (startBySrt) {
        moveIndex(-1);
        audio.value.currentTime = 0;
    } else {
        moveIndex(0);
        if (srtList.value.length <= 0) {
            audio.value.currentTime = 0;
        } else {
            audio.value.currentTime = srtList.value[0]["startSeconds"];
        }
    }
};

const parseScript = (scriptFileContent: string) => {
    //读取字幕文件
    if (scriptFileContent) {
        var parser = new srtParser2();
        var nodes = parser.fromSrt(scriptFileContent);

        // 添加额外的属性marked和originalIndex
        for (var i = 0; i < nodes.length; i++) {
            nodes[i]["marked"] = false;
            nodes[i]["originalIndex"] = i;
        }

        srtList.value = fullList.value = nodes;
        filtering.value = false;
        displaying.value = false;
        readyToPlay(false);
    }
};

const autoScrollNext = () => {
    if (srtList.value.length <= 0) return;

    let scrollSize = scrollHeight.value;

    if (scrollSize <= 0 || scrollSize >= innerRef.value!.clientHeight) return;

    // 每一行的高度
    let itemHeight =
        (innerRef.value!.clientHeight * 1.0) / srtList.value.length;

    // 假定当前始终显示在可视范围的中间位置
    let maxIndex = Math.round(scrollSize / 2 / itemHeight);

    let step = (currentIndex.value % 2) * 0.1 - 0.05 + 1;

    if (currentIndex.value >= maxIndex) {
        scrollbarRef.value!.setScrollTop(
            scrollTopVal.value + itemHeight * step
        );
    } else {
        scrollbarRef.value!.setScrollTop(0);
    }
};

const onFiltering = () => {
    if (playing.value) {
        return false;
    }
    //读取字幕文件
    if (!filtering.value) {
        let newFiltered = [];

        for (var n of fullList.value) {
            if (n["marked"]) {
                newFiltered.push(n);
            }
        }

        if (newFiltered.length <= 0) {
            return false;
        }

        // 重置
        srtList.value = newFiltered;
    } else {
        srtList.value = fullList.value;
    }

    readyToPlay();

    return true;
};

const loadAudio = (audioFileURL: String) => {
    //读取音频文件
    audioURI.value = audioFileURL;
    moveIndex(-1);
};

// 定义属性和加载运算
const props = defineProps({
    srtStr: String,
    audioURI: String,
});

onMounted(() => {
    loadAudio(props.audioURI);
    parseScript(props.srtStr);
});
</script>

<template>
    <el-row justify="space-between" align="middle">
        <el-col :span="4">
            <el-switch
                v-model="displaying"
                class="ml-2"
                :active-icon="View"
                inline-prompt
                :inactive-icon="Hide"
            />
            <el-switch
                v-model="filtering"
                :before-change="onFiltering"
                class="ml-2"
                :active-icon="StarFilled"
                inline-prompt
                :inactive-icon="Star"
            />
        </el-col>
    </el-row>
    <el-row>
        <el-col>
            <el-scrollbar
                :height="scrollHeight"
                ref="scrollbarRef"
                @scroll="scroll"
            >
                <div ref="innerRef">
                    <el-row
                        align="middle"
                        v-for="(item, index) in srtList"
                        :key="item.id"
                    >
                        <el-col :span="2"
                            ><el-icon :size="24" @click="mark(index)"
                                ><StarFilled v-if="item.marked" /><Star
                                    v-else /></el-icon
                        ></el-col>
                        <el-col :span="22"
                            ><p
                                @click="jumpPlayTo(index)"
                                class="scrollbar-demo-item"
                                :class="{
                                    'scrollbar-demo-item-active':
                                        index == currentIndex,
                                }"
                            >
                                {{ displaying ? item.text : "" }}
                            </p></el-col
                        >
                    </el-row>
                </div>
            </el-scrollbar>
        </el-col>
    </el-row>
    <el-row justify="space-between" align="middle">
        <el-col :span="20">
            <!-- 此处的ref属性，可以很方便的在vue组件中通过 this.$refs.audio获取该dom元素 -->
            <audio
                ref="audio"
                @pause="onPause"
                @play="onPlay"
                @timeupdate="onTimeupdate"
                @loadedmetadata="onLoadedmetadata"
                @onerror="onError"
                :src="audioURI"
                controls="controls"
            ></audio>
        </el-col>
    </el-row>
</template>

<style scoped>
.el-row {
    margin-bottom: 5px;
    width: 100%;
}
.full-button {
    width: 100%;
}
.scrollbar-demo-item {
    word-wrap: break-word;
    word-break: normal;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 350px;
    margin: 0px;
    min-width: 350px;
    min-height: 35px;
    height: auto;
    text-align: left;
    border-radius: 4px;
    background: var(--el-color-primary-light-9);
    color: var(--el-color-primary);
}
.scrollbar-demo-item-active {
    background: var(--el-color-primary-light-7);
}
.item-hide {
    display: none;
}

.text {
    font-size: 14px;
}

.item {
    padding: 5px 0;
}

.box-card {
    margin: 5px;
    padding: 5px;
}
</style>
