<script lang="ts" setup>
import { ref, defineProps, computed, watch } from "vue";

import type { ElCarousel } from "element-plus";
import { Star, StarFilled, View, Hide } from "@element-plus/icons-vue";
import { default as srtParser2 } from "srt-parser-2";

export interface PlayLine {
    id: string;
    startTime: string;
    startSeconds: number;
    endTime: string;
    endSeconds: number;
    text: string;
    marked: boolean;
    originalIndex: number;
}

const manualChange = ref<boolean>(false);

const filteredList = ref<PlayLine[]>([]);
const audioRef = ref<HTMLAudioElement>();
const currentIndex = ref<number>(0);
const playing = ref<boolean>(false);
const displaying = ref<boolean>(false);
const filtering = ref<boolean>(false);

const carouselRef = ref<InstanceType<typeof ElCarousel>>();

const getCurrentList = (): PlayLine[] => {
    if (filtering.value) {
        return filteredList.value
    } else {
        return fullList.value
    }
}

const onPlay = () => {
    playing.value = true;
};

const onPause = () => {
    playing.value = false;
};

const moveIndex = (i: number, changeCard: boolean = true) => {
    let srtList = getCurrentList()
    currentIndex.value = i;
    console.log("setting active " + i);
    if (changeCard && carouselRef.value) {
        manualChange.value = false;
        if (i <= 0) {
            carouselRef.value.setActiveItem(0);
        } else if (i >= srtList.length) {
            carouselRef.value.setActiveItem(srtList.length - 1);
        } else {
            carouselRef.value.setActiveItem(i);
        }
    }
};

const onError = () => {
    moveIndex(0, false);
};

const onTimeupdate = (res) => {
    let srtList = getCurrentList()
    if (!playing || !audioRef.value ||
        fullList.value.length <= 0 ||
        currentIndex.value >= fullList.value.length
    ) {
        return;
    }
    console.log("U{date")

    let curIndex = currentIndex.value;
    if (curIndex < 0) {
        if (playing) return jumpPlayTo(0);
    }

    let endSeconds = srtList[curIndex]["endSeconds"];
    if (endSeconds && endSeconds <= res.target.currentTime) {
        // 当前行播放结束
        let nextIndex = curIndex + 1;
        if (nextIndex < srtList.length) {
            // 检查是否需要跳跃播放
            let curOriginalIndex = srtList[curIndex]["originalIndex"];
            let nextOriginalIndex = srtList[nextIndex]["originalIndex"];
            if (curOriginalIndex + 1 < nextOriginalIndex) {
                return jumpPlayTo(nextIndex);
            }
        } else {
            // 播放完毕
            audioRef.value.pause();
        }
        moveIndex(nextIndex);
    }
};

const mark = (i: number) => {
    let srtList = getCurrentList()
    if (i < srtList.length) {
        srtList[i]["marked"] = !srtList[i]["marked"];
    }
};

const jumpPlayTo = (i: number) => {
    let srtList = getCurrentList()
    if (i < srtList.length) {
        moveIndex(i);
        if (audioRef.value) {
            let startSeconds = srtList[i]["startSeconds"];
            audioRef.value.currentTime = startSeconds;
            audioRef.value.play();
        }
    }
};

const readyToPlay = () => {
    moveIndex(0);
    if (audioRef.value) {
        let srtList = getCurrentList()
        if (Number.isNaN(audioRef.value.duration)) {
            return;
        }

        if (srtList.length <= 0) {
            audioRef.value.currentTime = 0;
        } else {
            audioRef.value.currentTime = srtList[0]["startSeconds"];
        }
    }
};

const parseScript = (scriptFileContent: string): PlayLine[] => {
    //读取字幕文件
    if (scriptFileContent) {
        var parser = new srtParser2();
        var nodes = parser.fromSrt(scriptFileContent);

        let list: PlayLine[] = []

        // 添加额外的属性marked和originalIndex
        for (var i = 0; i < nodes.length; i++) {
            let n: PlayLine = { ...nodes[i], marked: false, originalIndex: i }
            list.push(n)
        }

        filtering.value = false;

        return list;
    } else {
        return [];
    }
};

const onFiltering = (): boolean => {
    if (playing.value) {
        return false;
    }
    //读取字幕文件
    if (!filtering.value) {
        let newFiltered: PlayLine[] = [];

        for (var n of fullList.value) {
            if (n["marked"]) {
                newFiltered.push(n);
            }
        }

        if (newFiltered.length <= 0) {
            return false;
        }

        // 重置
        filteredList.value = newFiltered;
    } else {
        filteredList.value = [];
    }

    readyToPlay();

    return true;
};

// 定义属性和加载运算
const props = defineProps({
    content: String,
    audio: String,
});

const fullList = computed((): PlayLine[] => {
    console.log("new Script")
    if (props.content) {
        return parseScript(props.content);
    } else {
        return []
    }
});

const onCardChange = (val: number, oldVal: number) => {
    console.log("new:" + val + ",old:" + oldVal)
    if (manualChange.value) {
        manualChange.value = false;
        moveIndex(val, false);
        jumpPlayTo(val);
    }
}

watch(() => props.audio, () => {
    console.log('new Audio')
    moveIndex(0)
})
</script>

<template>
    <el-empty style="display:none" disabled="fullList.value.length > 0" />
    <el-row justify="space-between" align="middle">
        <el-col :span="4">
            <el-switch v-model="displaying" class="ml-2" :active-icon="View" inline-prompt :inactive-icon="Hide" />
        </el-col>
        <el-col :span="4">
            <el-switch v-model="filtering" :before-change="onFiltering" class="ml-2" :active-icon="StarFilled"
                inline-prompt :inactive-icon="Star" />
        </el-col>
    </el-row>
    <el-carousel indicator-position="none" ref="carouselRef" :autoplay="false" :loop="false" @change="onCardChange">
        <el-carousel-item v-for="(item, index) in getCurrentList()" type="card" :key="item.id" direction="vertical"
            :autoplay="false">
            <h3 text="2xl" justify="left" align="middle">
                {{ displaying ? item.text : "" }}
            </h3>
        </el-carousel-item>
    </el-carousel>
    <!-- 此处的ref属性，可以很方便的在vue组件中通过 this.$refs.audio获取该dom元素 -->
    <audio ref="audioRef" @pause="onPause" @play="onPlay" @timeupdate="onTimeupdate" @onerror="onError" :src="props.audio"
        controls></audio>
</template>

<style scoped>
/* .el-carousel__item {
    width: 100%;
    height: 50%;
} */
.el-carousel__item h3 {
    color: #475669;
    opacity: 0.75;
    line-height: 20px;
    margin: 10px;
    text-align: left;
    word-wrap: break-word;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
}
</style>
